@model Lessplastic.Models.ViewModels.Articles.UpdateDeleteArticleViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<form class="mx-auto half-width" asp-area="Admin" asp-controller="Articles" asp-action="Edit" asp-route-id="@Model.Id" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <partial name="_FormArticlePartial" />

    <partial name="_RadioButtonArticlePartial" />

    <div class="form-group text-center">
        <input type="submit" value="Промени" class="btn btn-color text-color" />
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>