@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<br />
<h2 class="text-center">@ViewData["Title"]</h2>
<hr class="bg-secondary half-width" />

<form asp-route-returnUrl="@Model.ReturnUrl" class="mx-auto half-width" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Input.UserName">Потребителско име</label>
        <input asp-for="Input.UserName" class="form-control" />
        <span asp-validation-for="Input.UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Email">Емайл</label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Password">Парола</label>
        <input asp-for="Input.Password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.ConfirmPassword">Потвърди парола</label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.TownName">Град</label>
        <input asp-for="Input.TownName" class="form-control" />
        <span asp-validation-for="Input.TownName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-color text-color">Регистрация</button>
</form>
<br />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
