<footer class="xeon-color pt-4 container">
    <div class="container text-center text-md-left">
        <div class="row text-white">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">Общи</h5>
                <hr class="hr-xeon-white" />
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="About" class="text-white">За нас</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="Partnership" class="text-white">Партньорство</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Контакти</h5>
                <hr class="hr-xeon-white" />
                <ul>
                    <li>
                        <a class="text-white" href="#!"><i class="fas fa-phone"></i> +359 888 35 60 67</a>
                    </li>
                    <li>
                        <a class="text-white" href="#!"><i class="fas fa-envelope"></i> bobchev93@gmail.com</a>
                    </li>
                    <li>
                        <a class="text-white" href="https://www.facebook.com/LessplasticBulgaria/"><i class="fab fa-facebook-square"></i> Lessplastic Facebook</a>
                    </li>
                    <li>
                        <a class="text-white" href="https://www.instagram.com/lessplastic_bulgaria/"><i class="fab fa-instagram"></i> Lessplastic Instagram</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="my-1" style="background:white" />
    <div class="footer-copyright text-center text-color py-2" style="background:deepskyblue">&copy; CopyRight Lessplastic Bulgaria 2018. Всички права запазени.</div>
</footer>