@model Lessplastic.Models.ViewModels.Events.UpdateDeleteEventViewModel

@{
    ViewData["Title"] = "_FormEventPartial";
}


<div class="form-group">
    <label asp-for="Name" class="control-label">Име на събитието</label>
    <input asp-for="Name" value="@Model?.Name" disabled="@Model?.DisabledValue" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Description" class="control-label">Описание</label>
    <input asp-for="Description" value="@Model?.Description" disabled="@Model?.DisabledValue" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="EventDate" class="control-label">Дата на събитието</label>
    <input asp-for="EventDate" value="@Model?.EventDate" disabled="@Model?.DisabledValue" type="date" class="form-control" />
    <span asp-validation-for="EventDate" class="text-danger"></span>
</div>