<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lessplastic</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/reset-css.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-color">
            <img src="~/images/46758566_2106303842725855_8669666283278565376_n.jpg" style="max-height:3%; max-width:3%;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item nav-link">
                        <a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Начало<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item nav-link">
                        <a asp-controller="Articles" asp-action="All"><i class="fas fa-newspaper"></i> Статии</a>
                    </li>
                    <li class="nav-item nav-link">
                        <a asp-controller="Events" asp-action="All"><i class="fas fa-calendar-alt"></i> Събития</a>
                    </li>
                    <li class="nav-item nav-link">
                        <a asp-controller="Videos" asp-action="All"><i class="fas fa-video"></i> Видеа</a>
                    </li>
                    <li class="nav-item nav-link">
                        <a asp-controller="Education" asp-action="All"><i class="fas fa-graduation-cap"></i> Проучвания</a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown nav-link">
                            <a class="text-color dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Админ меню
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a asp-area="Admin" asp-controller="Articles" asp-action="Create" class="dropdown-item">Създай статия</a>
                                <a asp-area="Admin" asp-controller="Events" asp-action="Create" class="dropdown-item">Създай събитие</a>
                                <a class="dropdown-item" href="#">Създай проучване</a>
                                <a class="dropdown-item" href="#">Създай видео</a>
                            </div>
                        </li>
                    }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </nav>
        <div class="container body-content">
            @RenderBody()
            <footer>
                <div class="container-fluid lessplastic-bg-color">
                    <div class="text-center text-color">
                        &copy; CopyRight Sanity Web Design Studios 2018. All rights reserved.
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
