<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lessplastic</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/reset-css.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function goBack() {
            window.history.back()
        }
    </script>
    <script>
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
</head>
<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/bg_BG/sdk.js#xfbml=1&version=v3.2&appId=430720590793427&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div class="container pl-0 pr-0" style="background-color:white; height:auto">
        <nav class="navbar navbar-expand-lg navbar-dark bg-color sticky-top">
            <img src="~/images/46758566_2106303842725855_8669666283278565376_n.jpg" style="max-height:3%; max-width:3%;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item nav-link">
                        <a href="/"><i class="fas fa-home"></i> Начало<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item nav-link">
                        <a asp-area="" asp-controller="Articles" asp-action="All"><i class="fas fa-newspaper"></i> Статии</a>
                    </li>
                    <li class="nav-item nav-link">
                        <a asp-area="" asp-controller="Events" asp-action="All"><i class="fas fa-calendar-alt"></i> Събития</a>
                    </li>
                    <li class="nav-item nav-link">
                        <a asp-area="" asp-controller="Videos" asp-action="All"><i class="fas fa-video"></i> Видеа</a>
                    </li>
                    <li class="nav-item nav-link">
                        <a asp-area="" asp-controller="Educations" asp-action="All"><i class="fas fa-graduation-cap"></i> Проучвания</a>
                    </li>
                    <li class="nav-item nav-link">
                        <a asp-area="" asp-controller="Articles" asp-action="Kids"><i class="fas fa-child"></i> За Деца</a>
                    </li>
                    <li class="nav-item nav-link">
                        <a asp-area="" asp-controller="Articles" asp-action="Kids"><i class="fas fa-clipboard-list"></i> Анкети</a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown nav-link">
                            <div class="dropdown text-color dropdown-toggle">
                                <button class="dropbtn">Админ меню</button>
                                <div class="dropdown-content">
                                    <a asp-area="Admin" asp-controller="Articles" asp-action="Create" class="dropdown-item">Създай статия</a>
                                    <a asp-area="Admin" asp-controller="Events" asp-action="Create" class="dropdown-item">Създай събитие</a>
                                    <a asp-area="Admin" asp-controller="Educations" asp-action="Create" class="dropdown-item">Създай проучване</a>
                                    <a asp-area="Admin" asp-controller="Videos" asp-action="Create" class="dropdown-item">Създай видео</a>
                                    <a asp-area="Admin" asp-controller="Pools" asp-action="Create" class="dropdown-item">Създай анкета</a>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </nav>
        <div class="body-content">
            @RenderBody()
            <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-alt-circle-up"></i></button>
            <partial name="_FooterPartial" />
        </div>
    </div>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
