@using Microsoft.AspNetCore.Identity

@inject SignInManager<LessplasticUser> SignInManager
@inject UserManager<LessplasticUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-link">
                <a asp-area="Identity" asp-page="/Account/Manage/Index" class="text-color" title="Manage"><i class="fas fa-user-circle"></i> Здравейте, @UserManager.GetUserName(User)!</a>
            </li>
            <li class="navbar-link">
                    <button type="submit" class="btn btn-link text-color"><i class="fas fa-sign-out-alt"></i> Изход</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item nav-link"><a asp-area="Identity" asp-page="/Account/Login" class="text-color"><i class="fas fa-user"></i> Вход</a></li>
    </ul>
}