
@{
    ViewData["Title"] = "Privacy";
}

<div class="container d-flex justify-content-around">
    <text>
        <h2>Политика за бисквитките (cookies)</h2>
        <p class="pt-2">
            <h3>Какво са бисквитки?</h3>
            Бисквитките са малки текстови файлове, които уебсайтът може да запише на вашия компютър или мобилно устройство, когато посещавате страница или сайт. Бисквитката ще помогне на сайта или на други сайтове да разпознаят вашето устройство следващия път, когато го посетите. Web beacons или други подобни файлове могат да правят същото. Използваме термина бисквитки в тази политика, за да назоваваме всички файлове, които събират информация по този начин.
        </p>
        <p class="pt-2">
            Бисквитките изпълняват множество различни функции. Например, те ни помагат да запомним вашето потребителско име или предпочитания, да анализираме колко добре се представят нашите сайтове или дори ни позволяват да ви препоръчаме съдържание, което смятаме, че ще бъде интересно за вас.
        </p>
        <p class="pt-2">
            Повечето бисквитки не събират информация, която може да ви идентифицира, а по-скоро събират обща информация за това как потребителите достигат до нашите сайтове и ги използват или какво е тяхното местоположение.
        </p>
        <p class="pt-2">
            <h3>Какви видове бисквитки използват сайтовете?</h3>
            По принцип бисквитките изпълняват 4 различни функции:
        </p>
        <p class="pt-2">
            <h3>Важни бисквитки</h3>
            Тези „бисквитки“ са от съществено значение, за да ви се даде възможност да се движите в уебсайтовете и да използвате техните функции. Без тези „бисквитки“ не могат да бъдат предоставени услугите, които сте поискали (такива като навигация между страници, показване на съдържанието в избран език).
        </p>
        <p class="pt-2">
            <h3>
                Бисквитки, свързани с ефективността на сайта
            </h3>
            Използваме аналитични „бисквитки“, за да анализираме как нашите посетители използват уебсайтовете и да следим ефективността им. Това ни позволява да осигурим преживяване с високо качество, като персонализираме нашето предлагане и бързо идентифицираме и решаваме каквито и да било проблеми, които възникват. Например, може да използваме „бисквитки“ за ефективност, за да проследяваме кои страници са най-популярни, кой метод за свързване между страниците е най-ефективен и да определим защо някои страници получават съобщения за грешки. Ние можем също така да използваме тези „бисквитки“, за да подчертаем статии или услуги на сайта, които считаме, че ще представляват интерес за вас, въз основа на вашето използване на уебсайтовете. Събраната от тези „бисквитки“ информация не се свързва с вашите лични данни от нас или от нашите контрагенти.
        </p>
        <p class="pt-2">
            <h3>
                Функционални бисквитки
            </h3>
            Използваме този тип „бисквитки“, за да ви предоставим определена функционалност – например да запомните изборите, които сте направили (като например избор на език или региона, в който се намирате) или да разпознаем платформата, от която осъществявате достъп до уебсайтовете, както и да ви осигурим подобрени и персонални функции. Тези „бисквитки“ не се използват за проследяване на браузването ви в други сайтове.
        </p>
        <p class="pt-2">
            <h3>
                Дали някой друг използва бисквитки на сайтовете ни?
            </h3>
            Ние използваме или разрешаваме на трети страни да използват на нашите сайтове бисквитки, които влизат в четирите категории, които са споменати по-горе. Например, както много компании, използваме Google Analytics, за да наблюдаваме трафика на нашите сайтове. Също така, когато споделите статия, използвайки бутоните към социалните мрежи (например Фейсбук) на сайта, социалната мрежа, която е създала този бутон, ще запамети това ваше действие.
        </p>
        <p class="pt-2">
            Може да използваме бисквитки на трети страни, които да ни помогнат в проучване на пазара, следене на приходите, подобряване на функционалността и наблюдение на спазването на нашите правила и условия, и политиката за авторски права.
        </p>
    </text>
</div>
