.app {
    width: 100%;
    height: 100%;
}

a {
    color: #F8F8FF;
}

.page {
    width: 80%;
}

.btn-color {
    background-color: black;
}

.long-button {
    white-space: normal;
    margin-top: 1%;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 80px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: deepskyblue;
    color: white;
    cursor: pointer;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
}

    #myBtn:hover {
        background-color: #555;
    }

.responsive {
    width: 100%;
    max-height: 300px;
    max-width: 600px;
    height: auto;
}

.scroling {
    border: 1px solid #ccc;
    font: 16px/26px Georgia, Garamond, Serif;
    overflow: auto;
}

.dropbtn {
    background-color: deepskyblue;
    color: white;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        background-color: white;
        color: black;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: white;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: deepskyblue;
}

body {
    background-image: url("../images/438394.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    height: auto;
}

.xeon-color {
    background-color: deepskyblue;
}

.hr-xeon {
    background-color: deepskyblue;
    height: 2px;
}

.hr-xeon-white {
    background-color: white;
    height: 1px;
}

.lessplastic-bg-color {
    background-color: deepskyblue;
    color: black;
}

.btn-color {
    background-color: deepskyblue;
}

.hr-2 {
    height: 2px;
}

.text-black {
    color: black;
}

.button-margin {
    margin-top: 8px;
}

.logout-margin {
    margin-right: 0px;
}

.half-width {
    width: 50%;
}

textarea {
    resize: none;
}

.bg-color {
    background-color: deepskyblue;
    color: black;
}

.navbar-text {
    text-emphasis-color: black;
}

.nav-link-dark {
    color: #C0C0C0
}

.hr-2 {
    height: 2px;
}

.hr-1 {
    height: 1px;
}

.table-hover > tbody > tr:hover {
    background-color: #DC143C;
    color: #F8F8FF;
}

.ml-auto {
    left: auto !important;
    right: 0px;
}

.text-color {
    color: white;
}

.text-color-login {
    color: black;
}

.navbarSize {
    padding-top: 0px;
    padding-bottom: 0px;
}
/*.product {*/
/*word-wrap: break-word;*/
/*}*/
