@model IEnumerable<Lessplastic.Models.ViewModels.Events.AllEventsViewModel>

@{
    ViewData["Title"] = "Събития";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr class="bg-dark" />
<div class="container-fluid product-holder">
    <div class="row col-md-12 d-flex justify-content-around">
        @foreach (var item in Model)
        {
            <div class="card col-md-5 mb-3 mr-2">
                <h5 class="card-header">@item.Name</h5>
                <div class="card-body">
                    <p class="card-text">@item.ShortContent</p>
                    <a asp-controller="Events" asp-action="Details" asp-route-id="@item.Id" class="btn btn-color text-color">Виж повече</a>
                </div>
            </div>
        }
    </div>
</div>
<br />
<br />