
@{
    ViewData["Title"] = "За Нас";
}

<div class="text-center mt-2">
    <h3 class="font-weight-bold font-italic">More Planet Less Plastic!</h3>
</div>
<div class="text-center">
    <img class="responsiveImage mt-2 mb-2" src="~/images/25790964_320798625105943_7213181808521169955_o.jpg" />
</div>
<hr />
<div class="ml-2 mr-2 textAlign">
    <h5>
        Платформата Lessplastic Bulgaria предлага образователна информация за широк кръг от хора. Ще намерите резултати от научни проучвания, тематични статии и новини, информация за деца, анкети, събития, видеа и филми.
        Стремим се да вдъхновим хората в България да ограничат количеството отпадъци, като акцентираме силно върху пластмасовите предмети с ниско полезно действие.
        Изграждането на природосъобразен начин на мислене сред обществото е основен мотиватор за нашите усилия.
    </h5>
</div>
<hr />
<div class="text-center mb-3">
    <h4>Партньори</h4>
</div>
<div class="row col-md-12">
    <div class="col-md-2 mb-2 mt-2">
        <a target="_blank" rel="noopener noreferrer" href="http://surfriderbg.org/">
            <img class="responsiveLogo img-thumbnail" src="~/images/49592460_2003602713057154_2956073840620339200_n.jpg" />
        </a>
    </div>
    <div class="col-md-2 mb-2 mt-2">
        <a target="_blank" rel="noopener noreferrer" href="https://gorichka.bg/">
            <img class="responsiveLogo img-thumbnail" src="~/images/49736896_598892740564691_6642282599618183168_n.jpg" />
        </a>
    </div>
    <div class="col-md-2 mb-2 mt-2">
        <a target="_blank" rel="noopener noreferrer" href="http://www.burgasrecycle.com/">
            <img class="responsiveLogo img-thumbnail" src="~/images/49736917_367680380716396_5714439513288212480_n.jpg" />
        </a>
    </div>
    <div class="col-md-2 mb-2 mt-2">
        <a target="_blank" rel="noopener noreferrer" href="https://viapontica.org/bg/">
            <img class="responsiveLogo img-thumbnail" src="~/images/49831851_741929749497532_8678543168930578432_n.jpg" />
        </a>
    </div>
    <div class="col-md-2 mb-2 mt-2">
        <a target="_blank" rel="noopener noreferrer" href="http://www.zazemiata.org/v1/">
            <img class="responsiveLogo img-thumbnail" src="~/images/49864307_228277894764783_2888689604792156160_n.jpg" />
        </a>
    </div>
    <div class="col-md-2 mb-2 mt-2">
        <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/FoodNotBombsSofia/">
            <img class="responsiveLogo img-thumbnail" src="~/images/49864441_611918279251342_1165191676415705088_n.jpg" />
        </a>
    </div>
    <div class="col-md-2 mb-2 mt-2">
        <a target="_blank" rel="noopener noreferrer" href="http://www.greenpeace.org/bulgaria/bg/">
            <img class="responsiveLogo img-thumbnail" src="~/images/50023892_1966444236994449_178188589564166144_n.jpg" />
        </a>
    </div>
    <div class="col-md-2 mb-2 mt-2">
        <a target="_blank" rel="noopener noreferrer" href="https://akashasurf.com/">
            <img class="responsiveLogo img-thumbnail" src="~/images/akasha logo.png" />
        </a>
    </div>
    <div class="col-md-2 mb-2 mt-2">
        <a target="_blank" rel="noopener noreferrer" href="http://wind2win.com/">
            <img class="responsiveLogo img-thumbnail" src="~/images/wind2logo.png" />
        </a>
    </div>
    <div class="col-md-2 mb-2 mt-2">
        <a target="_blank" rel="noopener noreferrer" href="http://www.zelenastrandja.com">
            <img class="responsiveLogo img-thumbnail" src="~/images/49637467_298442007445975_5837523504940974080_n.jpg" />
        </a>
    </div>
</div>
<hr />
<div class="text-center">
    <text>За повече информация или партньорство се свържете с нас.</text>
</div>
<div class="text-center mb-3">
    <b>Lessplastic Bulgaria.</b>
</div>