@model Lessplastic.Models.ViewModels.Educations.EducationViewModel

@{
    ViewData["Title"] = "Създай проучване";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr class="bg-dark" />
<form asp-action="Create" class="mx-auto half-width">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="control-label">Заглавие</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content" class="control-label">Съдържание</label>
        <textarea asp-for="Content" class="form-control" rows="5" cols="40"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label">Линк за снимка</label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AdditionalContent" class="control-label">Допълнително съдържание (по желание)</label>
        <textarea asp-for="AdditionalContent" class="form-control" rows="5" cols="40"></textarea>
        <span asp-validation-for="AdditionalContent" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AdditionalContentImage" class="control-label">Допълнителна снимка (по желание)</label>
        <input asp-for="AdditionalContentImage" class="form-control" />
        <span asp-validation-for="AdditionalContentImage" class="text-danger"></span>
    </div>
    <div class="form-group text-center">
        <input type="submit" value="Създай" class="btn btn-color text-color" />
    </div>
</form>
<br />
