@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center">Информация за профила</h2>

<div>
    <h4 class="text-center">Промени информацията</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@RenderSection("Scripts", required: false)
