@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Изтриване на акаунт";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>
            <strong>Изтриването на акаунта ви ще изтрие всичката информация за вас и няма да може да бъде възбновен.</strong>
        </p>
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-color text-color" type="submit">Изтегли информация за акаунта</button>
        </form>
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-color text-color">Изтрии</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}